* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /*  PALETA DE COLORES  */
  --color-bg: #1f1f38;
  --color-bg-variant: #3f3351;
  --color-primary: #5c527f;
  --color-primary-variant: rgba(92,82,127,0.4);
  --color-secondary: #b97a95;
  --color-secondary-variant: #b6cdf7;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light: rgba(255,255,255,0.6);

  --transition: all 400ms ease;

  /*  TAMAÑO DE CONTENEDORES  */
  --container-width-lg: 96%;
  --container-width-md: 86%;
  --container-width-ms: 75%;
}

html {
  scroll-behavior: smooth;
}

/*  BARRA LATERAL  */
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--color-bg);
  background-size: cover;
  color: var(--color-white);
  line-height: 1.7;
  /*background-image: url(../src/assets/bg-texture.png);*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*    ESTILOS GENERALES  */
.container {
  width:100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

section {
  margin-top: 5rem;
  height: 100vh;
}

section > h2, section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 3px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-light);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*  MEDIA QUERIES  */
      /*  > Dispositivos medianos  */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  .section {
    margin-top: 6rem;
  }
}

      /*  > Dispositivos pequeños  */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-ms);
  }

  .section > h2 {
    margin-bottom: 2rem;
  }
}