/*  Diseño base  */
.signin{
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*  Título  */
.signin-title{
    margin-top: 1rem;
    font-size: 40px;
    color: var(--color-bg);
}

/*  Tarjeta  */
.signin-card {
    width: 30rem;
    padding: 1rem 3rem;
    background-color: var(--color-secondary-variant);
}

/*  Forma  */
.signin-form{
    margin-top: 1rem;
}

/*  Titulo de label  */
.signin-form > label {
    margin: 10px 0;
    font-weight: bold;
    color: var(--color-primary);
    display: block;
}

/*  Botón  */
.signin-btn {
    margin-top: 2rem;
    text-align: center;
}