.text-search {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    transform: skew(-6deg);
    color: var(--color-secondary);

    text-shadow: 
        var(--color-bg-variant) 3px 3px;
    
}

.input-group {
    padding-bottom: 2rem;
}

.search-bar {
    width: 100%;
    height: auto;
    z-index: 5;

    position: absolute;
    left: 0;
  
    background: var(--color-secondary-variant);
}