/*  Diseño Base  */
.signup{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        rgba(255,255,255,0.3),
        rgba(255,255,255,0.3)
    );
}

/*  Título  */
.signup-title{
    margin-top: 20px;
    font-size: 40px;
}

/*  Tajeta  */
.signup-card{
    width: 500px;
    padding: 20px 50px;
    background: linear-gradient(
        rgba(255,255,255,0.9),
        rgba(255,255,255,0.9)
    )
}

/*  Forma  */
.signup-form{
    margin-top: 50px;
}
label{
    font-size: 17px;
    -webkit-transition: top .2s ease-in-out, font-size .2s ease-in-out;
    transition: top .2s ease-in-out, font-size .2s ease-in-out;
}
.active {
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 6px;
}
input[type=text] {
    width: 100%;
    font-size: 17px;

}
input:[type=text]:focus {
    outline: none;
}
input::placeholder {
    transition: opacity .25s;
}
input:focus::placeholder {
    opacity: 0;
}

.digit {
    width: 50px;
}

/*  Titulo de label  */
.signup-form >label {
    margin: 10px 0;
    font-weight: bold;
    color: #51A1E2;
    display: block;
}

/*  Validación de los inputs  */
input:invalid {
    animation: shake 300ms
}

@keyframes shake {
    25% {  transform: translateX(4px);  }
    50% {  transform: translateX(-4px); }
    75% {  transform: translateX(4px);  }
}

/*  Botón  */
.submit-button{
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #51A1E2;
    color: white;
    text-align: center;
}