.signup {
    margin: 0 auto;
}

.signup-title{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 40px;
    font-weight: bold;
    color: var(--color-primary);
}

.signup-card {
    max-width: 30rem;
    align-items: center;
    background-color: rgba( 242, 213, 205, .5);
    margin-bottom: 3rem;
}

.input-group {
    position: relative;
}

.signup-input {
    font: inherit;
    color: var(--color-primary);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-primary);
    outline: none;
    padding-block: 5px;
}

.signup-input::placeholder {
    color: inherit;
    transition: opacity .25s;
}

.signup-input:focus::placeholder{
    opacity: 0;
}

.border-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-bg-variant);
    transform: scaleX(0);
    transform-origin: left;
}