/*  Diseño Base  */
.signup{
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  Título  */
.signup-title{
    margin-top: 1rem;
    font-size: 40px;
    color: var(--color-bg);
}

/*  Tajeta  */
.signup-card{
    width: 30rem;
    padding: 1rem 3rem;
    background-color: var(--color-secondary-variant);
}

/*  Forma  */
.signup-form{
    margin-top: 1rem;
}
input::placeholder {
    transition: opacity .25s;
}
input:focus::placeholder {
    opacity: 0;
}

.digit {
    width: 3rem;
}

/*  Titulo de label  */
.signup-form >label {
    margin: 10px 0;
    font-weight: bold;
    color: var(--color-primary);
    display: block;
}

/*  Validación de los inputs  */
input:invalid {
    animation: shake 300ms
}

@keyframes shake {
    25% {  transform: translateX(4px);  }
    50% {  transform: translateX(-4px); }
    75% {  transform: translateX(4px);  }
}

/*  Botón  */
.submit-btn{
    margin-top: 2rem;
    text-align: center;
}