 .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .form-title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 40px;
    font-weight: bold;
    color: var(--color-secondary);
}

.file-group {
    padding: .5rem;
}

.form-req {
    color: var(--color-secondary);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: .5rem;
}

.form-card {
    padding: 1rem 7rem;
    align-items: center;
    background-color: var(--color-primary-variant);
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: var(--color-secondary);
    color: var(--color-secondary);
}

.upload-area:hover, .upload-area:focus {
    border-color: var(--color-secondary);
}

.form-footer {
    padding: 1rem 1.5rem 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.form-footer .btn {
    margin-left: 0.75rem;
}

