.s-container {
  display: flex;
  flex-direction: column;
}

.CartaBusqueda{
    

    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.25);
  }

.card-header {
  width: 100%;
  height: auto;
  background-color: var(--color-secondary-variant);

  position: cover;
}

.card-body {
  background-color: #eeeeee;
  color: var(--color-black);
}

.form-btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}