.CartaBusqueda{
    

    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.25);
  }

.card-header {
  width: 100%;
  height: auto;
  background-color: var(--color-primary-variant);

  position: cover;
}

.card-body {
  background-color: var(--color-secondary-variant);
  color: var(--color-bg);
}

