.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--color-secondary);
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-cont {
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 30rem;
    aspect-ratio: 1/1;
    border-radius: 5px;
    background: linear-gradient(45deg, transparent, var(--color-secondary), transparent);
    display: flex;
    align-items: flex-end;
}

.about-img {
    border-radius: 5px;
    overflow: hidden;
    transform:rotate(5deg);
    transition: var(--transition);
}

.about-img:hover {
    transform: rotate(0deg);
}

.info-title{
    font-size: 25px;
    font-weight: bold;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-cont , .info-title {
    margin-left: 2rem;
    color: var(--color-secondary);
}